moviepy==1.0.3
yt-dlp==2023.11.16
faster_whisper==0.10.0
stable-ts==2.13.7
realtimetts==0.3.41	
textdistance==4.6.0
soundfile==0.12.1
pyannote.audio==3.1.1
deep-translator==1.11.4
instructor==0.4.2
demucs==4.0.1